/*========== SECTION EXPLORE */
.section-explore {
  margin: 60px 0 0 0;
  transition: all 0.5s ease;
}

/* CARD GRID SLIDER */
.card-grid-slider {
  display: flex;
  padding: 10px 0;
  overflow-x: auto;
  align-items: center;
  scroll-snap-type: x mandatory;
  max-width: 1600px;
}
#explore>div:first-child h2 {
  font-size: 30px;
}

/* WebKit (Chrome, Safari) */
.card-grid-slider::-webkit-scrollbar {
  /* display: none; */
}

.card-grid-slider::-webkit-scrollbar-thumb {
}

.card-grid-slider::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color of the track */
}
/* CARD SIMPLE */
.card-simple {
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-2s-ease);
  scroll-snap-align: start;
  margin-right: 10px;
  padding: 10px;
}

.card-simple figure {
  border-radius: var(--border-radius-mmmd);
  overflow: hidden;
  height: 200px;
  width: 200px;
}

.card-simple:hover img {
  transform: scale(1.1) rotate(2deg);
  transition: var(--transition-3s-ease);
}

.card-simple img {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  height: 100%;
  width: 100%;
}

.card-simple h3 {
  transition: var(--transition-3s-ease);
  margin-top: 6px;
  font-size: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-clamp: 1;
  width: 200px;
}

.card-simple:hover h3 {
  color: #EF2519;
}

.card-simple p a {
  font-size: 16px;
  color: var(--color-silver);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  line-clamp: 1;
  width: 200px;
}
/* End Section Explore */
