mixin alert-success(time)
    - if(messages.success)
        .message.info
            div(class= "alert alert-success" data-time=time show-alert) #{messages.success}
                span(close-alert)  X
mixin alert-error(time)
    - if(messages.error)
        .message.info
            div(class= "alert alert-danger" data-time=time show-alert) #{messages.error}
                span(close-alert)  X