
/*========== HEADER/HERO */
.page-02 header {
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
  height: 290px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.page-02 header .artist {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}

.page-02 header .artist figure {
  /* overflow: hidden; */
  width: 100%;
  height: auto;
  border-radius: 10px;
  top: 20px;
  position: absolute;
}

.page-02 header .artist img {
  transition: var(--transition-3s-ease);
  height: 100%;
  width: 23%;
  border-radius: 10px;
}
.page-02 header .artist img:hover {
  transform: scale(1.11);
  transition: var(--transition-3s-ease);
  border-radius: 10px;
  overflow: hidden;
}

.page-02 header .artist .info__artist {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: var(--color-silver);
  transition: var(--transition-3s-ease);
  border-radius: 10px;
  width: 26%;
  margin: 10px auto;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.page-02 header .artist .info__artist h1 {
  font-family: cursive;
  font-size: 14px;
  font-weight: 800;
  margin: 5px;
  padding: 5px;
  color: var(--color-white);
  transition: var(--transition-3s-ease);
}

.page-02 header .artist .info__artist button {
  background-color: var(--primary-color);
  color: var(--color-white);
  border: none;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  transition: var(--transition-3s-ease);
  border-radius: 4px;
}


.page-02 header p, .hero p {
  color: var(--color-dark-main);
  font-size: var(--font-size-12);
  margin-top: 20px;
}

.page-02 header p a,
.hero p a {
  text-decoration: underline;
  color: var(--color-white);
}

.page-02 header p a:hover,
.hero p a:hover {
  color: var(--color-silver);
}


/* Search */

nav #search{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.switchMode nav #search input {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  color: #F2E394;
}
nav #search span {
  font-size: 20px;
  margin: 0 10px;
}
