/*========== NAVBAR */

.switchMode .nav-fixed-active {
  box-shadow: rgba(223, 112, 34, 0.8) 0px -18px 25px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.07) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.05) 0px 2px 2px,
            rgba(0, 0, 0, 0.07) 0px 4px 4px,
            rgba(0, 0, 0, 0.07) 0px 8px 8px,
            rgba(0, 0, 0, 0.07) 0px 16px 16px,
            rgba(0, 0, 0, 0.07) 0px 32px 32px;
} 
.switchMode nav {
  box-shadow: rgba(222, 9, 9, 0.8) 0px 18px 25px 0px inset,
            rgba(0, 0, 0, 0.1) 0px -36px 30px 0px inset,
            rgba(0, 0, 0, 0.07) 0px -79px 40px 0px inset,
            rgba(0, 0, 0, 0.05) 0px 2px 2px,
            rgba(0, 0, 0, 0.07) 0px 4px 4px,
            rgba(0, 0, 0, 0.07) 0px 8px 8px,
            rgba(0, 0, 0, 0.07) 0px 16px 16px,
            rgba(0, 0, 0, 0.07) 0px 32px 32px;
} 

.nav-fixed-active {
  box-shadow: rgba(69, 246, 184, 0.8) 0px -23px 25px 0px inset,
              rgba(0, 0, 0, 0.1) 0px -36px 30px 0px inset,
              rgba(0, 0, 0, 0.07) 0px -79px 40px 0px inset,
              rgba(0, 0, 0, 0.05) 0px 2px 2px,
              rgba(0, 0, 0, 0.07) 0px 4px 4px,
              rgba(0, 0, 0, 0.07) 0px 8px 8px,
              rgba(0, 0, 0, 0.07) 0px 16px 16px,
              rgba(0, 0, 0, 0.07) 0px 32px 32px;


  border: 2px solid var(--color-soft-13);
  /* position: fixed; */
  z-index: 9999;
  background-size: 600% 100%;
  border-radius: 15px;
  font-weight: bolder;
  transform: translateY(0); /* Initial position at the top */
  height: 70px; /* Adjust the height as needed */
  transition: all 0.4s ease-in-out;
  width: 98%;
  left: 1%;
}

nav {
  background-color: rgba(255, 255, 255, 0.920);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  border-bottom: 1px solid var(--color-soft-11);
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

/* Add your other styles for the non-sticky state of the navigation bar here */


nav ul {

  display: flex;
  align-items: center;
}

.box--radius {
  /* list-style: none; */
  /* border-radius: 10px; */
  /* padding: 10px; */
}

.box--radius:hover {
  color: rgba(220, 20, 60, 0.8);
  scale: 1.1;
  transition: var(--transition-3s-ease);
}

.inner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-logo span {
  display: block;
  margin-top: 5px;
  color: var(--color-silver);
  font-family: var(--font-family-1);
  font-style:oblique;
  font-size: 24px;
}
.inner-logo span:hover {
  color: rgba(220, 20, 60, 0.8);
  transition: var(--transition-3s-ease);
}

nav ul:nth-child(1) a {
  transition: var(--transition-3s-ease);
  margin-right: 20px;
}

nav ul:nth-child(1) a:hover {
  transition: var(--transition-3s-ease);
  color: var(--color-black);
}

nav ul:nth-child(1) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) .far {
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  animation: a3 0.2s;
  margin-right: 16px;
  padding: 8px;
}

nav ul:nth-child(2) .far:hover {
  background-color: var(--background-secondary-main);
  transition: var(--transition-3s-ease);
}

nav ul:nth-child(2) .far:active {
  background-color: var(--background-primary-main);
  transition: var(--transition-3s-ease);
}

.fa-bars-mobile,
.fa-close-mobile {
  display: none;
}