/*========== NAVBAR */
.nav-fixed-active {
  border: 2px solid #5B81BA;
  /* position: fixed; */
  z-index: 9999;
  background-size: 600% 100%;
  border-radius: 15px;
  font-weight: bolder;
  transform: translateY(0); /* Initial position at the top */
  height: 80px; /* Adjust the height as needed */
  transition: all 0.4s ease-in-out;
}

nav {
  background-color: rgba(255, 255, 255, 0.920);
  backdrop-filter: blur(16px);
  border-radius: 20px;
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}



nav ul {
  display: flex;
  align-items: center;
}

.box--radius {
  /* list-style: none; */
  /* border-radius: 10px; */
  /* padding: 10px; */
}

.box--radius:hover {
  color: rgba(220, 20, 60, 0.8);
  scale: 1.1;
  transition: var(--transition-3s-ease);
}

.inner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-logo span {
  display: block;
  margin-top: 5px;
  color: var(--color-silver);
  font-family: var(--font-family-1);
  font-style:oblique;
  font-size: 24px;
}
.inner-logo span:hover {
  color: rgba(220, 20, 60, 0.8);
  transition: var(--transition-3s-ease);
}

nav ul:nth-child(1) a {
  transition: var(--transition-3s-ease);
  margin-right: 20px;
}

nav ul:nth-child(1) a:hover {
  transition: var(--transition-3s-ease);
  color: var(--color-black);
}

nav ul:nth-child(1) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) .far {
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  animation: a3 0.2s;
  margin-right: 16px;
  padding: 8px;
}

nav ul:nth-child(2) .far:hover {
  background-color: var(--background-secondary-main);
  transition: var(--transition-3s-ease);
}

nav ul:nth-child(2) .far:active {
  background-color: var(--background-primary-main);
  transition: var(--transition-3s-ease);
}

.fa-bars-mobile,
.fa-close-mobile {
  display: none;
}