.slider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            li 
                a(href=`${prefixAdmin}/products`) Music
            li 
                a(href=`${prefixAdmin}/products-category`) Artist
            li 
                a(href=`${prefixAdmin}/roles`) Album
            