/*========== NAVBAR */
.nav-fixed-active {
  border-bottom: 3px solid var(--color-soft-11);
  transition: a2 1s;
  position: fixed;
  z-index: 99;
  background-size: 600% 100%;
  animation: gradient 6s linear infinite;
  animation-direction: alternate;
  border-radius: 0 0 15px 15px;
  font-weight: bolder;
}

nav {
  background-color: rgba(255, 255, 255, 0.920);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  padding: 10px 20px;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bolder;
}

@keyframes gradient {
  0% {
    background-position: 0%
  }

  100% {
    background-position: 100%
  }
}

nav ul {
  display: flex;
  align-items: center;
}

.box--radius {
  list-style: none;
  border-radius: 20px;
  padding: 5px;
}

.box--radius:hover {
  background-color: var(--color-soft-11);
  transition: var(--transition-3s-ease);
  color: var(--color-black);
}

.inner-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-logo a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inner-logo img {
  max-width: 100%;
  height: auto;
}

.inner-logo span {
  display: block;
  margin-right: 20px;
  color: deeppink;
}

nav ul:nth-child(1) a {
  transition: var(--transition-3s-ease);
  margin-right: 20px;
}

nav ul:nth-child(1) a:hover {
  transition: var(--transition-3s-ease);
  color: var(--color-black);
}

nav ul:nth-child(1) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) img {
  border-radius: var(--border-radius-full);
  object-fit: cover;
  height: 35px;
  width: 35px;
}

nav ul:nth-child(2) .far {
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  animation: a3 0.2s;
  margin-right: 16px;
  padding: 8px;
}

nav ul:nth-child(2) .far:hover {
  background-color: var(--background-secondary-main);
  transition: var(--transition-3s-ease);
}

nav ul:nth-child(2) .far:active {
  background-color: var(--background-primary-main);
  transition: var(--transition-3s-ease);
}

.fa-bars-mobile,
.fa-close-mobile {
  display: none;
}

/* Avatar-User */
#avatar {
  color: var(--color-soft-9);
  font-size: 28px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: var(--transition-3s-ease);
  animation: a1 0.6s ease;
}
/* End Avatar-User */

/* AVATAR DROPDOWN */
.avatar-dropdown {
  box-shadow: var(--box-shadow-xlg);
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  animation: a2 0.3s ease;
  position: absolute;
  overflow: hidden;
  display: none;
  padding: 5px;
  width: 200px;
  right: 10px;
  top: 75px;
}

.avatar-dropdown hr {
  margin: 10px 0;
  border: 1px solid gray;
}

.avatar-dropdown a li {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  animation: a2 0.2s ease;
  padding: 5px 10px;
  font-size: 15px;
  color: var(--background-dark-secondary-main);
  margin: 5px;
}

.avatar-dropdown a li:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main);
  color: var(--color-black);
}

.avatar-dropdown a li:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.avatar-dropdown a li span {
  background-color: transparent !important;
  margin-right: 5px !important;
  padding: 0 !important;
}

.avatarDropdown {
  display: block;
}

/* SUPPORT & CHAT MODE */
.support-chat-mode {
  box-shadow: var(--box-shadow-xlg);
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  animation: a1 0.8s ease;
  position: fixed;
  z-index: 9999;
  height: 500px;
  width: 450px;
  margin: auto;
  inset: 0;
}

.support-chat-mode .support-chat-mode-header {
  display: flex;
  padding: 15px 20px;
  align-items: center;
  border-radius: var(--border-radius-mmmd);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.500);
  border-bottom: 1px solid var(--background-thirdly-main);
}

.support-chat-mode .support-chat-mode-header h4 {
  display: flex;
  align-items: center;
}

.support-chat-mode .support-chat-mode-header h4 img {
  border-radius: var(--border-radius-full);
  animation: a3 0.4s ease;
  object-fit: contain;
  margin: 0 10px;
  height: 20px;
  width: 20px;
}

.support-chat-mode .support-chat-mode-header a {
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  padding: 3px 10px;
}

.support-chat-mode .support-chat-mode-header a:hover {
  background-color: var(--background-secondary-main);
}

.support-chat-mode .support-chat-mode-header a:active {
  background-color: var(--background-primary-main);
}

.support-chat-mode .support-chat-mode-body {
  padding: 5px 20px;
  overflow-y: auto;
  height: 75%;
}

.support-chat-mode .support-chat-mode-body .chat-date {
  text-align: center;
  font-size: var(--font-size-12);
  color: var(--color-silver);
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: a1 0.4s ease;
}

.support-chat-mode .support-chat-mode-body .section-message-bot,
.support-chat-mode .support-chat-mode-body .section-message-user {
  margin: 25px 0;
}

.support-chat-mode .support-chat-mode-body .section-message-bot p {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: var(--background-thirdly-main);
  animation: a1 0.5s ease;
  display: inline-flex;
  padding: 8px 15px;
  margin-top: 10px;
}

.support-chat-mode .support-chat-mode-body .section-message-bot img,
.support-chat-mode .support-chat-mode-body .section-message-user img {
  border-radius: var(--border-radius-full);
  animation: a3 0.4s ease;
  object-fit: contain;
  height: 30px;
  width: 30px;
}

.support-chat-mode .support-chat-mode-body .section-message-user {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
}

.support-chat-mode .support-chat-mode-body .section-message-user p {
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  background-color: #0000FF;
  color: var(--color-white);
  animation: a1 0.7s ease;
  display: inline-flex;
  padding: 8px 15px;
  margin-top: 10px;
}

.support-chat-mode .support-chat-mode-footer {
  padding: 5px 20px;
}

.support-chat-mode .support-chat-mode-footer form {
  width: 100%;
  display: flex;
  padding: 7px 15px;
  align-items: center;
  border-radius: var(--border-radius-mmmd);
  background-color: var(--background-secondary-main);
}

.support-chat-mode .support-chat-mode-footer form span {
  transition: var(--transition-3s-ease);
  font-size: var(--font-size-18);
  cursor: pointer;
}

.support-chat-mode .support-chat-mode-footer form span:hover {
  transition: var(--transition-3s-ease);
  color: var(--color-silver);
}

.support-chat-mode .support-chat-mode-footer form span:active {
  transition: var(--transition-3s-ease);
  color: var(--background-dark-secondary-main);
}

.support-chat-mode .support-chat-mode-footer form textarea {
  margin: 0 10px;
  padding: 0;
}

.support-chat-mode .support-chat-mode-footer form button[type="submit"] {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  margin-left: 10px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.support-chat-mode .support-chat-mode-footer form button[type="submit"]:hover {
  transition: var(--transition-3s-ease);
  background-color: #0000FF;
  color: var(--color-white);
}

.overlay-support-chat-mode {
  background-color: rgba(190, 190, 190, 0.4);
  transition: var(--transition-2s-ease);
  backdrop-filter: blur(150px);
  -webkit-backdrop-filter: blur(20px);
  /* Safari 9+, Safari on iOS 9+ */
  animation: a1 0.3s ease;
  position: fixed;
  z-index: 9999;
  display: none;
  height: 100vh;
  width: 100%;
  inset: 0;
}

.supportChatMode {
  display: block;
}