* {
    color: #fff;
    background: #000;
    background-size: 800% 800%;
}

body {
    /* font-family: 'Poppins', sans-serif; */
    font-size: 16px;
    line-height: 1.5;
    color: var(--text-main);
    background-color: var(--background-main);
    margin: 0;
    padding: 0;
}

.card { 
    border: none;
}

.navbar-toggler {
    color: #fff !important;
}
.navbar-toggler-icon {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.3s ease;
    background-color: #000;
    border-radius: 5px;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #000;
    background-color: #fff;

}

.navbar {
    padding: 0;
    transition: all 0.3s ease;
}


.navbarFixed .container .inner-logo {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-left: 5px;

}

.navbarFixed .container .inner-logo img {
    width: 100%;
    height: 100%;
}

/* CSS cho genMusicItem */
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    cursor: pointer;

}

.genMusicItem {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    margin-bottom: 15px;
}

.genMusicItem__img img {
    max-width: 100%;
    height: auto;
    border: 2px solid mediumvioletred;
    border-radius: 10px;
}

.genMusicItem__title {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
}

.genMusicItem__author {
    margin: 0 15px;
    font-size: 16px;
}

.genMusicItem__action {
    margin-top: 15px;
}

.loader {
    display: none;
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: #fff #0000;
    animation: l1 1s infinite;
    transition: all 0.3s ease;
    margin: auto;
}

@keyframes l1 {
    to {
        transform: rotate(.5turn)
    }
}