@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("../images/background/login_bg.jpg") center no-repeat ;
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: -40px;
}

.container .title_page {
  /* background: #000; */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 10px;
}

.container .title_page h1 {
  font-size: 36px;
  color: #8600ff;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
}

.wrapper {
  width: 420px;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.wrapper .input-box, .input-box-1, .input-box-2 {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.wrapper #Sign__up {
  display: none;
}

.wrapper #Sign__up.active {
  transition: all 0.5s ease-in-out;
  display: block;
}

.wrapper #Sign__in.active {
  display: none;
}

.wrapper #Sign__in.reactive {
  display: block;
}


.input-box input,
.input-box-1 input,
.input-box-2 input{
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 40px;
  font-size: 20px;
  color: #fff;
  padding: 20px 45px 20px 20px;
}

.input-box input:focus,
.input-box-1 input:focus,
.input-box-2 input:focus{
  border: 3px solid rgba(255, 255, 255, 0.5);
  transition: all 0.1s ease-in-out;
}

.input-box input::placeholder,
.input-box-1 input::placeholder,
.input-box-2 input::placeholder{
  color: #38d1ff;
}

.input-box i, 
.input-box-1 i,
.input-box-2 i {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
}

.wrapper .remember-forgot {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: -15px 0 15px;
}

.remember-forgot label input {
  accent-color: #fff;
  margin-right: 3px;
}

.remember-forgot a {
  color: #fff;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
  color: #568b8c;
}

.wrapper .btn {
  width: 100%;
  height: 45px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 600;
}

.wrapper .btn:hover {
  background-color: #568b8c;
  color: #fff;
}

.wrapper .register-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 15px;
}

.register-link p a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.register-link p a:hover {
  text-decoration: underline;
  color: #568b8c;
}


#Sign__up .back-btn {
  background-color: #333;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
}

.back-btn:hover {
  background-color: #555;
}