/*========== RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  
}
*:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

figure {
  margin-right: auto;
  margin-left: auto;
}

ul, li {
  list-style: none;
  font-size: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/*========== HR */
hr {
  border: none;
  border-bottom: 1px solid var(--color-border-default);
}

/*========== A / LINK */
a {
  text-decoration: none;
}

a:hover {
  color: var(--color-main);
}
a:active, a:focus {
  outline: none;
}

/*========== SELECTION */
::selection {
  background-color: #FFECBC;
  color: var(--color-black);
}

