/*========== RESET */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

figure {
  margin-right: auto;
  margin-left: auto;
}

ul, li {
  list-style: none;
  font-size: 20px;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/*========== HR */
hr {
  border: none;
  border-bottom: 1px solid var(--color-border-default);
}

/*========== A / LINK */
a {
  text-decoration: none;
  /* color: var(--color-main); */
}

a:hover {
  color: var(--color-main);
}

/*========== SELECTION */
::selection {
  background-color: #FFECBC;
  color: var(--color-black);
}

/*========== SCROLLBAR */
::-webkit-scrollbar {
  height: 3px;
  width: 4px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #dddddd;
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background-color: var(--color-dark-main);
}