@import url("../css/loader.css");
@import url("../css/navbar/navbar.css");
@import url("../css/scroll_tab/scroll_tab.css");
@import url("../css/mode/mode.css");
@import url("../css/avatar/avatar.css");
@import url("../css/header/header.css");
@import url("../css/section/explore/explore.css");
@import url("../css/section/creators/creators.css");
@import url("../css/section/trending/trending.css");
@import url("../css/section/category/category.css");
@import url("../css/section/artists/artists.css");
@import url("../css/switchMode/switchMode.css");
@import url("../css/responsive/responsive.css");


/*========== MAIN */
main {
  padding: 20px;
}

/*====================
#01. PAGE: POST
=====================*/
/* HEADER CUSTOME */
.page-01 header {
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.950)), url(../images/elements/hero@75.b2469a49.jpg);
  background-position: center;
  background-size: cover;
  color: var(--background-dark-secondary-main);
  display: flex;
  text-align: left;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-01 header>div {
  transition: var(--transition-3s-ease);
  display: flex;
  align-items: center;
}

.page-01 header>div>div {
  transition: var(--transition-3s-ease);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.page-01 header>div>div h1,
.page-01 header>div>div a {
  line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.page-01 header>div>div a {
  color: var(--color-silver);
}

.page-01 header>div>div a:hover {
  color: var(--color-black);
}

.page-01 header>div figure {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  margin-right: 20px;
  overflow: hidden;
  height: 230px;
  width: 230px;
}

.page-01 header>div img {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.page-01 header>div img:hover {
  transform: scale(1.2) rotate(1deg);
  transition: var(--transition-3s-ease);
  filter: brightness(1.3);
}

.page-01 header>div>div>div {
  display: flex;
  margin-top: 15px;
  align-items: center;
}

/* BTN POST DEFAULT */
.page-01 header .btn-post-default {
  border-radius: var(--border-radius-mmmd);
  border: 2px solid var(--background-primary-main);
  background-color: var(--color-white);
  transition: var(--transition-3s-ease);
  padding: 8px 12px;
  margin-right: 8px;
  font-size: var(--font-size-16);
  cursor: pointer;
  outline: none;
}

.page-01 header .btn-post-default:hover {
  background-color: var(--background-thirdly-main);
  transition: var(--transition-3s-ease);
}

.page-01 header .btn-post-default:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

/*========== SECTION: PLAYLIST POST */
.page-01 .section-playlist-post {
  margin: 0 auto 100px auto;
  width: 60%;
}

.page-01 .section-playlist-post-header {
  margin-bottom: 30px;
}

.page-01 .section-playlist-post-header h2 {
  transition: var(--transition-3s-ease);
  font-size: 1.3rem;
}

.page-01 .section-playlist-post-header p {
  font-size: var(--font-size-12);
  color: var(--color-silver);
}

.page-01 .section-playlist-post-body {
  max-height: 500px;
  overflow-y: auto;
  border: 12px solid var(--color-soft-4);
  padding: 10px;
  border-radius: 10px;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card {
  position: relative;
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--color-soft-9);
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card div:nth-child(1),
.page-01 .section-playlist-post-body .section-playlist-post-play-card div:nth-child(2) {
  display: flex;
  align-items: center;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card > div:nth-child(1) .far {
  transition: var(--transition-3s-ease);
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  margin-right: 20px;
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card>div:nth-child(1) h4 {
  position: absolute;
  left: 10%;
  overflow: hidden;
  margin-right: 10px;
  font-size: 0.950rem;
  transition: var(--transition-3s-ease);
  width: 65%;
  padding: 10px 0;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card div:nth-child(2) div .far {
  transition: var(--transition-3s-ease);
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card .far:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main) !important;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--color-white) !important;
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card div:nth-child(2) p {
  transition: var(--transition-3s-ease);
  font-size: var(--font-size-14);
  padding-right: 5px;
  margin-left: 10px;
  color: var(--color-silver);
}

.page-01 .section-playlist-post-body .section-playlist-post-play-card #pauseBtnPlayCard {
  display: none;
}

.pauseBtnPlayCardToggle {
  display: flex !important;
}

.playBtnPlayCardToggle {
  display: none !important;
}

.likeMusicHeaderToggle {
  color: var(--color-red);
}

.likeMusicPlayToggle {
  color: var(--color-red);
}

.page-01 .section-playlist-post-footer {
  margin-top: 30px;
}

.page-01 .section-playlist-post-footer p {
  font-size: var(--font-size-12);
  color: var(--color-silver);
}

/*========== SECTION: MUSIC PLAYER */
.section-music-player {
  box-shadow: var(--box-shadow-xlg);
  border-top: 2px solid var(--background-thirdly-main);
  transition: var(--transition-3s-ease);
  background-color: var(--color-white);
  position: fixed;
  padding: 20px;
  height: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.section-music-player div:nth-child(1) .far {
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  height: 25px;
  width: 40px;
  left: 50%;
  right: 50%;
  bottom: 60px;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.section-music-player div:nth-child(1) {
  display: flex;
  align-items: center;
}

.section-music-player div:nth-child(1) img {
  border-radius: var(--border-radius-mmmd);
  object-fit: contain;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.section-music-player>div:nth-child(1) h4 {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: 0.950rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-music-player>div:nth-child(1) a {
  color: var(--color-silver);
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: var(--font-size-12);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-music-player>div:nth-child(1) a:hover {
  color: var(--background-dark-secondary-main);
}

.page-01 .section-music-player>div:nth-child(3) {
  display: flex;
  align-items: center;
}

.page-01 .section-music-player>div:nth-child(3) .far {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-01 .section-music-player>div:nth-child(3) .far:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-secondary-main) !important;
}

.page-01 .section-music-player>div:nth-child(3) .far:active {
  background-color: var(--background-primary-main) !important;
  transition: var(--transition-3s-ease);
}

/* SECTION MUSIC PLAYER TIMELINE */
.page-01 .section-music-player .section-music-player-timeline {
  background-color: var(--background-thirdly-main);
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-full);
  height: 2px;
  width: 40%;
  display: flex;
  align-items: center;
}

.page-01 .section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint {
  background-color: #0000FF;
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-full);
  height: 2px;
  width: 20%;
  display: flex;
  align-items: center;
}

.page-01 .section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint:hover {
  transition: var(--transition-3s-ease);
  cursor: pointer;
  height: 4px;
}

.page-01 .section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint:hover::after {
  transition: var(--transition-3s-ease);
  background-color: #0000c4;
  height: 10px;
  width: 10px;
}

.page-01 .section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint::after {
  background-color: #0000FF;
  border-radius: var(--border-radius-full);
  height: 8px;
  width: 8px;
  left: 99%;
  content: " ";
  display: flex;
  cursor: pointer;
  position: relative;
  align-self: center;
  align-items: center;
}

.likeMusicPlayerToggle {
  color: var(--color-red);
}

.sectionMusicPlayerToggle {
  bottom: -100px;
}

.sectionMusicPlayerToggle #collapseMusicPlayerBtn,
.sectionMusicPlayerToggle #expandMusicPlayerBtn {
  bottom: 105px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

#expandMusicPlayerBtn {
  display: none;
}

.collapseMusicPlayerBtnToggle {
  display: none !important;
}

.expandMusicPlayerBtnToggle {
  display: flex !important;
}

.page-01 .back-top {
  bottom: 80px;
}

/*========== SECTION: FULL PLAYER */
.fullPlayer {
  display: flex !important;
  transition: var(--transition-3s-ease);
}

.page-01 .section-full-player {
  background: #fff;
  background-position: center;
  transition: var(--transition-3s-ease);
  background-size: cover;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  animation: a1 0.6s ease;
}

.page-01 .section-full-player .section-full-player-header {
  position: absolute;
  padding: 23px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullPlayerHeaderDropdown {
  display: flex !important;
}

.page-01 .section-full-player .section-full-player-header .section-full-player-header-dropdown {
  box-shadow: var(--box-shadow-xlg);
  background-color: var(--color-white);
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  position: absolute;
  padding: 10px;
  right: 30px;
  top: 65px;
  display: none;
  flex-direction: column;
  animation: a1 0.3s ease;
}

.page-01 .section-full-player .section-full-player-header .section-full-player-header-dropdown a {
  border-radius: var(--border-radius-mmmd);
  padding: 5px 10px;
  margin: 1px 0;
  font-size: 15px;
  color: var(--background-dark-secondary-main);
}

.page-01 .section-full-player .section-full-player-header .section-full-player-header-dropdown a:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main);
  color: var(--background-dark-secondary-main);
}

.page-01 .section-full-player .section-full-player-header .section-full-player-header-dropdown a:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
  color: var(--background-dark-secondary-main);
}

.page-01 .section-full-player .section-full-player-header .section-full-player-header-dropdown .far {
  background-color: transparent !important;
  margin-right: 5px;
  display: inline;
  padding: 0;
}

.page-01 .section-full-player .section-full-player-header .far {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.page-01 .section-full-player .section-full-player-header .far:hover {
  transition: var(--transition-3s-ease);
  background: var(--color-blue);
  color: var(--color-white);
}

.page-01 .section-full-player .section-full-player-header .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.page-01 .section-full-player .section-full-player-body img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  box-shadow: var(--box-shadow-xlg);
}

.page-01 .section-full-player .section-full-player-body div {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.page-01 .section-full-player .section-full-player-body div .far {
  cursor: pointer;
}

.page-01 .section-full-player .section-full-player-body div div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-01 .section-full-player .section-full-player-body div h3 {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.page-01 .section-full-player .section-full-player-body div a {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: var(--font-size-12);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.page-01 .section-full-player .section-full-player-footer {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}

.page-01 .section-full-player .section-full-player-footer .fa-play {
  height: 55px !important;
  width: 55px !important;
}

.page-01 .section-full-player .section-full-player-footer .far {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 45px;
  width: 45px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.page-01 .section-full-player .section-full-player-footer .far:hover {
  transition: var(--transition-2s-ease);
  background: var(--color-blue);
  color: var(--color-white);
}

.page-01 .section-full-player .section-full-player-footer .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

/*========== SECTION: DOWNLOAD */
.downloadToggle {
  display: block !important;
}

.overlay-section-download {
  background-color: rgba(0, 0, 0, 0.300);
  position: fixed;
  display: none;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  inset: 0;
}

.section-download {
  animation: a1 0.4s ease;
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  position: absolute;
  padding: 15px;
  height: 350px;
  margin: auto;
  width: 400px;
  inset: 0;
}

.section-download-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-download-header .far {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.section-download-header .far:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-secondary-main);
  color: var(--background-dark-secondary-main);
}

.section-download-header .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.section-download-body {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-download-body img {
  border-radius: var(--border-radius-full);
  margin-bottom: 20px;
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.section-download-body a {
  color: #0000FF;
}

.section-download-body a:hover {
  text-decoration: underline;
}

.section-download-body p {
  font-size: var(--font-size-14);
  margin-top: 8px;
  color: var(--color-silver);
}

.section-download-body .btn-secondary {
  text-decoration: none !important;
  margin-top: 30px;
}


/*====================
#02. PAGE: USER
=====================*/
.page-02 .back-top {
  bottom: 20px;
}

/* CARD GRID */
.user-page .card-grid {
  display: grid;
  gap: 10px 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.user-page .card-grid .card-simple figure {
  width: 100%;
}

.user-page .card-grid img {
  object-fit: cover;
}

/*========== BACK TOP */
.back-top {
  width: 45px;
  right: 20px;
  height: 45px;
  bottom: 20px;
  display: none;
  position: fixed;
  animation: a1 0.5s;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-soft-10);
  color: var(--color-white);
}
.back-top:hover{
  background-color: var(--color-blue);
  transition: var(--transition-3s-ease);
}
.back-top-active {
  display: flex;
}


/*========== BTNS */
/* BTNS */
.btn-default, .btn-secondary {
  border-radius: var(--border-radius-lg);
  transition: var(--transition-3s-ease);
  color: var(--color-white) !important;
  display: inline-flex;
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
}

.btn-default span, .btn-secondary span {
  margin-right: 5px;
}

.btn-default {
  background-color: #3333ff;
}

.btn-default:hover {
  background-color: #0000FF;
  transition: var(--transition-3s-ease);
}

.btn-default:focus {
  background-color: #4747ff;
  transition: var(--transition-3s-ease);
}

.btn-default:active {
  background-color: #0000c4;
}

.btn-secondary {
  background-color: var(--background-dark-primary-main);
  font-size: var(--font-size-14);
}

.btn-secondary:hover {
  background-color: var(--background-dark-secondary-main);
  transition: var(--transition-3s-ease);
}

.btn-secondary:focus {
  transition: var(--transition-3s-ease);
  background-color: #0f0f0f;
}

.btn-secondary:active {
  background-color: #070707;
}


/*========== INPUTS */
input[type="search"] {
  font-family: var(--font-family);
  background-color: transparent;
  padding: var(--padding-default\12-18);
  outline: none;
  border: none;
  width: 100%;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

textarea {
  font-family: var(--font-family);
  background-color: transparent;
  padding: var(--padding-default\12-18);
  outline: none;
  resize: none;
  border: none;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--color-white);
  padding: var(--padding-default\12-18);
  cursor: pointer;
  outline: none;
  border: none;
}


/*========== ANIMATIONS */
@keyframes a1 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a2 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a3 {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: scale(0.7);
    opacity: 1;
  }
}

@keyframes a4 {
  0% {
    transform: translateX(360%);
    opacity: 0;
  }

  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

@keyframes a5 {
  0% {
    transform: translateX(-360%);
    opacity: 0;
  }

  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

@keyframes a6 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(360deg);
  }

  100% {}
}

.footer-copyright {
  transition: var(--transition-3s-ease);
  display: flex;
  padding: 15px 0;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--background-primary-main);
}