@import url("../css/loader.css");
@import url("../css/navbar/navbar.css");
@import url("../css/side-bar/side-bar.css");
@import url("../css/scroll_tab/scroll_tab.css");
@import url("../css/mode/mode.css");
@import url("../css/avatar/avatar.css");
@import url("../css/header/header.css");
@import url("../css/image_slider/image_slider.css");
@import url("../css/section/explore/explore.css");
@import url("../css/section/creators/creators.css");
@import url("../css/section/trending/trending.css");
@import url("../css/section/category/category.css");
@import url("../css/section/artists/artists.css");
@import url("../css/switchMode/switchMode.css");
@import url("../css/responsive/responsive.css");

/* albumPage */
@import url("../css/playmusic/playmusic.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Main */

.switchMode .main {
  z-index: 9999;
  position: relative;
  width: calc(100% - 82px);
  transition: all 0.5s linear; /* Thêm transition cho width và left *;*/
  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main {
  z-index: 9999;
  position: relative;
  width: calc(100% - 82px);
  transition: all 0.5s linear; /* Thêm transition cho width và left *;*/
  border-radius: 40px 0 0 40px;
  left: 82px;
  background: #8e9eab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#section__trending {
  margin: 10px auto 0; /* Sử dụng thuộc tính margin để đặt margin-top và giữa */
  position: relative;
  top: 10px;
  max-width: 95%;
  box-sizing: border-box;
}

/*========== SECTION: PLAYLIST POST */


.playBtnPlayCardToggle {
  display: none !important;
}

.likeMusicHeaderToggle {
  color: var(--color-red);
}

.likeMusicPlayToggle {
  color: var(--color-red);
}

.page-01 .section-playlist-post-footer {
  margin-top: 30px;
}

.page-01 .section-playlist-post-footer p {
  font-size: var(--font-size-12);
  color: var(--color-silver);
}

/*========== SECTION: MUSIC PLAYER */
.section-music-player {
  /* box-shadow: var(--box-shadow-xlg); */
  border-top: 2px solid var(--background-thirdly-main);
  transition: var(--transition-3s-ease);
  background-color: var(--color-white);
  position: fixed;
  padding: 20px;
  height: 70px;
  bottom: 0;
  right: 0;
  left: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px 10px 0 0;
}
.section-music-player div:nth-child(1) .far {
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  height: 25px;
  width: 50px;
  left: 50%;
  right: 50%;
  bottom: 60px;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  justify-content: center;
  /* margin: 0 auto; */
}

.section-music-player div:nth-child(1) {
  display: flex;
  align-items: center;
}

.section-music-player div:nth-child(1) img {
  border-radius: var(--border-radius-mmmd);
  object-fit: contain;
  margin-right: 10px;
  height: 50px;
  width: 50px;
}

.section-music-player>div:nth-child(1) h4 {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: 0.950rem;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-music-player>div:nth-child(1) a {
  color: var(--color-silver);
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: var(--font-size-12);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-music-player>div:nth-child(1) a:hover {
  color: var(--background-dark-secondary-main);
}

.section-music-player>div:nth-child(3) {
  display: flex;
  align-items: center;
}

.section-music-player>div:nth-child(3) .far {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-music-player .section-music-player-timeline #timeLineMusicPlayer {
  width: 100%;
}

/* SECTION MUSIC PLAYER TIMELINE */
.section-music-player .section-music-player-timeline {
  background-color: var(--background-thirdly-main);
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-full);
  height: 2px;
  width: 40%;
  display: flex;
  align-items: center;
}

.section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint {
  background-color: #0000FF;
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-full);
  height: 2px;
  width: 20%;
  display: flex;
  align-items: center;
}

.section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint:hover {
  transition: var(--transition-3s-ease);
  cursor: pointer;
  height: 4px;
}

.section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint:hover::after {
  transition: var(--transition-3s-ease);
  background-color: #0000c4;
  height: 10px;
  width: 10px;
}

.section-music-player .section-music-player-timeline .section-music-player-timeline-linepoint::after {
  background-color: #0000FF;
  border-radius: var(--border-radius-full);
  height: 8px;
  width: 8px;
  left: 99%;
  content: " ";
  display: flex;
  cursor: pointer;
  position: relative;
  align-self: center;
  align-items: center;
}

.likeMusicPlayerToggle {
  color: var(--color-red);
}

.sectionMusicPlayerToggle {
  bottom: -100px;
}

.sectionMusicPlayerToggle #collapseMusicPlayerBtn,
.sectionMusicPlayerToggle #expandMusicPlayerBtn {
  bottom: 105px;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

#expandMusicPlayerBtn {
  display: none;
}

.collapseMusicPlayerBtnToggle {
  display: none !important;
}

.expandMusicPlayerBtnToggle {
  display: flex !important;
}

.page-01 .back-top {
  bottom: 80px;
}

/*========== SECTION: FULL PLAYER */
.fullPlayer {
  display: flex !important;
  transition: var(--transition-3s-ease);
}

.section-full-player .section-full-player-header {
  position: absolute;
  padding: 23px;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fullPlayerHeaderDropdown {
  display: flex !important;
}

.section-full-player .section-full-player-header .section-full-player-header-dropdown {
  box-shadow: var(--box-shadow-xlg);
  background-color: var(--color-white);
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  position: absolute;
  padding: 10px;
  right: 30px;
  top: 65px;
  display: none;
  flex-direction: column;
  animation: a1 0.3s ease;
}

.section-full-player .section-full-player-header .section-full-player-header-dropdown a {
  border-radius: var(--border-radius-mmmd);
  padding: 5px 10px;
  margin: 1px 0;
  font-size: 15px;
  color: var(--background-dark-secondary-main);
}

.section-full-player .section-full-player-header .section-full-player-header-dropdown a:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-thirdly-main);
  color: var(--background-dark-secondary-main);
}

.section-full-player .section-full-player-header .section-full-player-header-dropdown a:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
  color: var(--background-dark-secondary-main);
}

.section-full-player .section-full-player-header .section-full-player-header-dropdown .far {
  background-color: transparent !important;
  margin-right: 5px;
  display: inline;
  padding: 0;
}


.section-full-player .section-full-player-header .far:hover {
  transition: var(--transition-3s-ease);
  background: var(--color-blue);
  color: var(--color-white);
}

.section-full-player .section-full-player-header .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.section-full-player .section-full-player-body img {
  width: 250px;
  height: 250px;
  margin-top: 20px;
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-3s-ease);
  box-shadow: var(--box-shadow-xlg);
}

.section-full-player .section-full-player-body div {
  display: flex;
  margin-top: 5px;
  align-items: center;
  justify-content: space-between;
}

.section-full-player .section-full-player-body div .far {
  cursor: pointer;
}

.section-full-player .section-full-player-body div div {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-full-player .section-full-player-body div h3 {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-full-player .section-full-player-body div a {
  width: 200px;
  line-clamp: 1;
  overflow: hidden;
  font-size: var(--font-size-12);
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  transition: var(--transition-3s-ease);
}

.section-full-player .section-full-player-footer {
  display: flex;
  margin-top: 70px;
  align-items: center;
  justify-content: center;
}

.section-full-player .section-full-player-footer .fa-play {
  height: 55px !important;
  width: 55px !important;
}

.section-full-player .section-full-player-footer .far {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  margin-right: 10px;
  padding: 8px;
  height: 45px;
  width: 45px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.section-full-player .section-full-player-footer .far:hover {
  transition: var(--transition-2s-ease);
  background: var(--color-blue);
  color: var(--color-white);
}

.section-full-player .section-full-player-footer .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

/*========== SECTION: DOWNLOAD */
.downloadToggle {
  display: block !important;
}

.overlay-section-download {
  background-color: rgba(0, 0, 0, 0.300);
  position: fixed;
  display: none;
  z-index: 9999;
  height: 100vh;
  width: 100%;
  inset: 0;
}

.section-download {
  animation: a1 0.4s ease;
  background-color: var(--color-white);
  border-radius: var(--border-radius-mmmd);
  position: absolute;
  padding: 15px;
  height: 350px;
  margin: auto;
  width: 400px;
  inset: 0;
}

.section-download-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-download-header .far {
  transition: var(--transition-3s-ease);
  border-radius: var(--border-radius-mmmd);
  padding: 8px;
  height: 32px;
  width: 32px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.section-download-header .far:hover {
  transition: var(--transition-3s-ease);
  background-color: var(--background-secondary-main);
  color: var(--background-dark-secondary-main);
}

.section-download-header .far:active {
  transition: var(--transition-3s-ease);
  background-color: var(--background-primary-main);
}

.section-download-body {
  margin-top: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.section-download-body img {
  border-radius: var(--border-radius-full);
  margin-bottom: 20px;
  object-fit: cover;
  height: 80px;
  width: 80px;
}

.section-download-body a {
  color: #0000FF;
}

.section-download-body a:hover {
  text-decoration: underline;
}

.section-download-body p {
  font-size: var(--font-size-14);
  margin-top: 8px;
  color: var(--color-silver);
}

.section-download-body .btn-secondary {
  text-decoration: none !important;
  margin-top: 30px;
}


/*====================
#02. PAGE: USER
=====================*/
.page-02 .back-top {
  bottom: 20px;
}

.page-02 .section-playlist-post {
  margin: 0 auto 100px auto;
  width: 80%;
}

.page-02 .section-playlist-post-header {
  padding: 20px;
}

.page-02 .card-grid {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  display: grid;
  gap: 10px 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 20px;
  border-radius: var(--border-radius-mmmd);
}

.page-02 .card-grid .card-simple figure {
  width: 100%;
}

.page-02 .card-grid img {
  object-fit: cover;
}

.switchMode .page-02 header .artist .infor__artist {
  background: var(--primary-color);
}

/*========== BACK TOP */
.back-top {
  width: 45px;
  right: 20px;
  height: 45px;
  bottom: 20px;
  display: none;
  position: fixed;
  animation: a1 0.5s;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-soft-10);
  color: var(--color-white);
}
.back-top:hover{
  background-color: var(--color-blue);
  transition: var(--transition-3s-ease);
}
.back-top-active {
  display: flex;
}


/*========== BTNS */
/* BTNS */
.btn-default, .btn-secondary {
  border-radius: var(--border-radius-lg);
  transition: var(--transition-3s-ease);
  color: var(--color-white) !important;
  display: inline-flex;
  padding: 10px 25px;
  cursor: pointer;
  outline: none;
}

.btn-default span, .btn-secondary span {
  margin-right: 5px;
}

.btn-default {
  background-color: #3333ff;
}

.btn-default:hover {
  background-color: #0000FF;
  transition: var(--transition-3s-ease);
}

.btn-default:focus {
  background-color: #4747ff;
  transition: var(--transition-3s-ease);
}

.btn-default:active {
  background-color: #0000c4;
}

.btn-secondary {
  background-color: var(--background-dark-primary-main);
  font-size: var(--font-size-14);
}

.btn-secondary:hover {
  background-color: var(--background-dark-secondary-main);
  transition: var(--transition-3s-ease);
}

.btn-secondary:focus {
  transition: var(--transition-3s-ease);
  background-color: #0f0f0f;
}

.btn-secondary:active {
  background-color: #070707;
}


/*========== INPUTS */
input[type="search"] {
  font-family: var(--font-family);
  background-color: transparent;
  outline: none;
  border: none;
  width: 90%;
  font-size: 18px;
  padding: 10px 0;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
}

textarea {
  font-family: var(--font-family);
  background-color: transparent;
  padding: var(--padding-default\12-18);
  outline: none;
  resize: none;
  border: none;
  width: 100%;
}

button[type="submit"] {
  background-color: var(--color-white);
  padding: var(--padding-default\12-18);
  cursor: pointer;
  outline: none;
  border: none;
}


/*========== ANIMATIONS */
@keyframes a1 {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a2 {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a3 {
  0% {
    transform: rotate(180deg);
    opacity: 0;
  }

  100% {
    transform: scale(0.7);
    opacity: 1;
  }
}

@keyframes a4 {
  0% {
    transform: translateX(360%);
    opacity: 0;
  }

  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

@keyframes a5 {
  0% {
    transform: translateX(-360%);
    opacity: 0;
  }

  100% {
    transform: scale(0.8);
    opacity: 1;
  }
}

@keyframes a6 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes loader-spin {
  0% {
    transform: rotate(360deg);
  }

  100% {}
}

.footer-copyright {
  transition: var(--transition-3s-ease);
  display: flex;
  padding: 15px 0;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--background-primary-main);
}