/*========== Responsive ============ */
@media (max-width: 1440px) {
  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 700px !important;
  }
}

/* LapTop */
@media (max-width: 1200px) {
  nav ul:nth-child(1) img {
    height: 40px;
    width: 40px;
  }

  .inner-logo span {
    font-size: 30px;
  }

  .bb8-toggle__container {
    font-size: 5px;
  }

  #avatar {
    font-size: 24px;
  }

  nav ul li {
    padding: 0px;
    font-size: 16px;
  }

  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 800px;
  }
}

@media (max-width: 1140px) {
  #Top .main .image__slider .image__slider__container {
    height: 280px;
  }

  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 600px !important;
  }
}

@media (max-width: 992px) {
  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 500px !important;
  }

  #Top .main .image__slider .image__slider__container {
    height: 250px;
  }

  .page-01 #player {
    height: 52vh !important;
    border-radius: 10px;
  }

  .page-01 #player .dashboard {
    height: 30vh !important;
    width: 100%;
    border-radius: 10px;
  }

  .page-01 #player .playlist {
    grid-template-columns: repeat(1, 1fr);
    height: 22vh !important;
    top: 210px;
    width: 100%;
  }

  .page-01 #player .cd {
    display: none;
  }
}

@media (max-width: 768px) {
  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 380px !important;
  }

  #Top .main .image__slider .image__slider__container {
    height: 250px;
  }

  .inner-logo span {
    display: none;
  }

  nav ul:nth-child(1):nth-child(1) {
    left: 5%;
    position: relative;
  }

  nav ul:nth-child(1) img {
    height: 50px;
    width: 50px;
  }

  #Top .section-music-player>div:nth-child(1) h4 {
    width: 130px;
    overflow: hidden;
    white-space: nowrap;
  }
}

/* TABLET */
@media (max-width: 576px) {
  .section-music-player .containerPlayer .section-music-player-timeline audio {
    width: 300px !important;
  }

  .side-bar {
    display: none;
  }

  #Top nav {
    padding: 0;
  }

  #Top .main {
    width: 100% !important;
    left: 0 !important;
  }

  #Top .main .section-music-player {
    width: 100% !important;
    left: 0 !important;
  }

  #Top .image__slider {
    margin-bottom: 50px;
  }

  #Top .main main {
    transition: var(--transition-3s-ease);
  }

  nav #search {
    width: 50%;
    padding: 0;
    font-size: 14px;
  }

  /* Nav Bar */
  nav,
  main {
    transition: var(--transition-3s-ease);
  }

  nav #search {
    width: 58%;
  }

  nav #search input {
    font-size: 14px;
  }

  nav ul:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul:nth-child(1) a img {
    width: 50px;
    height: 50px;
  }

  .main .image__slider .image__slider__container {
    height: 35vh;
  }

  /* End Image Slider */
  .avatar-dropdown,
  .support-chat-mode {
    transition: var(--transition-3s-ease);
    margin: auto;
  }


  .avatar-dropdown a li {
    transition: var(--transition-3s-ease);
    font-size: var(--font-size-16);
  }
}



@media (max-width: 480px) {
  nav ul:nth-child(1) a img {
    width: 40px;
    height: 40px;
  }

  nav #search {
    width: 60%;
  }

  nav #search input {
    font-size: 14px;
  }

  .section-explore {
    margin: 0;
  }
  .page-01 #player .dashboard .control {
    width: 90%;
  }

  .page-01 #player .playlist {
    height: 40vh;
  }
  /* End Sections */
}