/*========== Responsive ============ */

/* LapTop */
@media (max-width: 1120px) {

  nav ul:nth-child(1) img {
    height: 40px;
    width: 40px;
  }  

  .inner-logo span {
    font-size: 24px;
  }  
  .bb8-toggle__container {
    font-size: 5px;
  }  

  #avatar {
    font-size: 24px;
  }  
  nav ul li {
    padding: 0px;
    font-size: 16px;
  }  
}  

@media (max-width: 925px) {
  .inner-logo span {
    display: none;
  }  
  nav ul:nth-child(1):nth-child(1) {
    left: 5%;
    position: relative;
  }
  nav ul:nth-child(1) img {
    height: 50px;
    width: 50px;
  }
}
/* TABLET */
@media (max-width: 860px) {
  /* Nav Bar */
  nav,
  main {
    transition: var(--transition-3s-ease);
    padding: 20px 16px;
  }
  nav #search {
    width: 58% ;
  }
  nav #search input{
    transition: var(--transition-3s-ease);
    font-size: 14px;
  }
  nav ul:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav ul:nth-child(1) a img{
      width: 50px;
      height: 50px;
  }
  /* End Nav bar */

  /* Image Slider */
  .main .image__slider .image__slider__container {
    height: 35vh;
  }
  /* End Image Slider */
  .avatar-dropdown,
  .support-chat-mode {
    transition: var(--transition-3s-ease);
    margin: auto;
  }

  .support-chat-mode {
    transition: var(--transition-3s-ease);
    height: 97%;
  }

  .avatar-dropdown a li {
    transition: var(--transition-3s-ease);
    font-size: var(--font-size-16);
  }

  /* PlayMusic page */
  .page-01 .playlist {
    grid-template-columns: repeat(1, 1fr); 
  }
}

/* Dif Size for Phone */
@media (max-width: 650px) {
  nav ul:nth-child(1) a img{
      width: 40px;
      height: 40px;
  }
  nav #search {
    width: 60%;
  }  
  nav #search input {
    transition: var(--transition-3s-ease);
    font-size: 14px;
  }  
  /* End Image Slider */

  /* Sections */
  .section-explore {
    margin: 0;
  }
  /* End Sections */
  .page-01 .playlist {
    grid-template-columns: repeat(1, 1fr); 
  }  
}  


@media (max-width: 460px) {
  nav #search {
    display: none;
  }
}  


/* MOBILE */
@media (max-width: 375px) {

}  

