/* Body Scroll */

body::-webkit-scrollbar {
  width: 15px;
  height: 5px;
}

/* Track styling */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 10px grey; /* shadow on the track */
}

/* Handle (thumb) styling */
body::-webkit-scrollbar-thumb {
  background: var(--color-soft-5); /* background color of the thumb */
}

/* Handle on hover styling */
body::-webkit-scrollbar-thumb:hover {
  background: var(--color-soft-8); /* background color on hover */
}
/* End Body Scroll */