
/*====================
#02. PAGE: USER
=====================*/
.page-02 .back-top {
  bottom: 20px;
}

/* CARD GRID */
.user-page .card-grid {
  display: grid;
  gap: 10px 0;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.user-page .card-grid .card-simple figure {
  width: 100%;
}

.user-page .card-grid img {
  object-fit: cover;
}

/*========== FOOTER */
footer {
  background-color: var(--background-secondary-main);
  padding: 70px 20px 0 20px;
  font-size: var(--font-size-14);
}

footer .footer-grid {
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  transition: var(--transition-3s-ease);
  display: grid;
  gap: 4rem;
}

footer ul {
  display: flex;
  flex-direction: column;
}

footer ul h4 {
  padding-bottom: 5px;
  color: var(--color-black);
}

footer ul li {
  margin: 5px 0;
}

footer ul li a {
  transition: var(--transition-3s-ease);
  color: #363636;
}

footer ul:first-child {
  margin-left: 80px;
  grid-column: span 2 / span 2;
}

footer ul:first-child .image_logo {
  margin-bottom: 10px;
  object-fit: cover;
  width: 80px;
  border-radius: 50%;
}

footer ul:first-child .footer-social-media {
  display: flex;
  margin-top: 20px;
  align-items: center;
  flex-direction: row;
}

footer ul:first-child .footer-social-media a {
  background-color: var(--background-main);
  border-radius: var(--border-radius-mmmd);
  transition: var(--transition-2s-ease);
  font-size: var(--font-size-18);
  margin-right: 10px;
  color: #202020;
  padding: 10px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer ul:first-child .footer-social-media a:hover {
  transition: var(--transition-2s-ease);
  background-color: #0000FF;
  color: var(--color-white);
}

footer .footer-copyright {
  display: flex;
  padding: 15px 0;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--background-primary-main);
}

footer .footer-icon {
  display: flex;
  margin-top: 30px;
  align-items: center;
  flex-direction: row;
}

footer .footer-icon a {
  margin: 0 5px;
}

#logoFooterModeDark {
  display: none;
}

.logoFooterModeDarkToggle {
  display: flex !important;
}

.logoFooterModeLightToggle {
  display: none !important;
}