
/* PlayMusic */
.player {
  border-radius: 20px;
  box-shadow: 0px 5px 26px rgba(70, 0, 1);
  height: 55vh;
  position: sticky;
  z-index: 100;
  top: 100px;
  max-width: 98%;
  margin: 0 auto;
}

.player.playing {
  height: 55vh;
  position: sticky;
  backdrop-filter: blur(10px); /* Điều chỉnh giá trị theo mong muốn */
  -webkit-backdrop-filter: blur(5px);
  max-width: 98%;
  margin: 0 auto;
}
.player .fa-stop {
  display: none;
}
.player.playing .fa-stop {
  display: inline-block;
}

.player.playing .fa-play {
  display: none;
}


/* Dashboard */
.dashboard {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  padding: 0 16px 0 16px;
  width: 40%;
  position: absolute;
  left: 20px;
  border-radius: 30px;
  height: 55vh;
}

/* HEADER */
.header {
  text-align: center;
  margin-bottom: 10px;
  overflow: hidden;
  width: 100%;
}

.header h4 {
  color: var(--primary-color);
  font-size: 18px;
}

.header h2 span{
  color: #F2E394;
  font-size: 24px;
  white-space: nowrap;
  /* overflow: hidden; */
  width: 50%;
  margin: auto;
}

@keyframes marquee {
  from {
    transform: translateX(100%); /* Bắt đầu chạy từ phải sang trái */
  }
  
  to {
    transform: translateX(-100%); /* Di chuyển về phải để tạo hiệu ứng chạy */
  }
}

/* CD */
.cd {
  display: flex;
  margin: auto;
  width: 200px;
}

.cd-thumb {
  width: 100%;
  padding-top: 100%;
  border-radius: 50%;
  background-size: cover;
  margin: auto;
}

/* CONTROL */
.control {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 18px 0 8px 0;
  width: 90%;
  margin: 0 auto;
}

.control .btn {
  padding: 18px;
  font-size: 18px;
}

.control .btn.active {
  color: var(--color-red);
}

.control .btn-toggle-play {
  width: 60px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-silver);
}

.progress {
  width: 69%;
  position: relative;
  left: 16%;
}
.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

/* PLAYLIST */
.playlist {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(5px);
  color: var(--color-white);
  padding: 5px 30px;
  width: 59.5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-height: 55vh;
  overflow: auto;
  right: 10px;
  position: absolute;
}
.song {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1)
}
.switchMode .song {
  background: #403A3E;
  box-shadow: 5px 5px 3px #BCBCBC;
}

.song.active {
  background: #1e130c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}
.song.active .body .h3 {
  color: var(--color-black);
}
.song:hover {
  cursor: pointer;
}

.song .thumb {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: cover;
  margin: 0 8px;
}

.song .body {
  flex: 1;
  padding: 0 16px;
  position: relative;
  overflow: hidden;
}

.song {
  position: relative;
  overflow: auto;
}

.song .title {
  font-size: 18px;
  max-width: 100%;
  white-space: nowrap;
}

.song.active .title {
  animation: marquee 6s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.song .author {
  font-size: 12px;
}

.song .option {
  padding: 16px 8px;
  font-size: 18px;
}

.switchMode .song {
  background: #403A3E;
}

/* End Player */