
/*========== SECTION FEATURED CREATORS */
.section-featured-creators {
  margin-top: 40px;
}


#featured_creators>div:first-child h2 {
  font-size: 30px;
}
.section-featured-creators .card-simple {
  margin-bottom: 10px;
  width: 180px;
}

.section-featured-creators .card-simple figure {
  height: 100%;
  width: 100%;
}

.section-featured-creators .card-simple h3,
.section-featured-creators .card-simple p a {
  width: 150px;
}