/* Main */

.switchMode .main {
  background: linear-gradient(34deg, #000000, #182826, #212d4f, #4d3c5a);
  background-size: 800% 800%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 94%
  }

  50% {
    background-position: 100% 7%
  }

  100% {
    background-position: 0% 94%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 94%
  }

  50% {
    background-position: 100% 7%
  }

  100% {
    background-position: 0% 94%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 94%
  }

  50% {
    background-position: 100% 7%
  }

  100% {
    background-position: 0% 94%
  }
}

.main {
  z-index: 9999;
  position: relative;
  width: calc(100% - 82px);
  transition: all .4s ease;
  /* border-radius: 40px 0 0 40px; */
  left: 82px;
  background: #8e9eab;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
  background: linear-gradient(to right, #eef2f3, #8e9eab);
}